body {
  position: relative;
  height: 100vh;
  font-family: Helvetica, Helvetica Neue, Arial;
  overflow-y: hidden;
  background: #EDEBED url(../images/light-grey-textured-background.png);


}

.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: lightgreen}
.CodeMirror-selection-highlight-scrollbar {background-color: green}

h2 {
  color: #444;
}

a {
  color: #444;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.CodeMirror {
  height: 100% !important;
}

.codemirror-container {
  height: 100% !important;
}

.ReactCodeMirror {
  height: 100% !important;
}

.pane-sm {
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
}

.CodeMirror {border: 1px solid silver; border-width: 1px 2px; }
.cm-header { font-family: arial; }
.cm-header-1 { font-size: 150%; }
.cm-header-2 { font-size: 130%; }
.cm-header-3 { font-size: 120%; }
.cm-header-4 { font-size: 110%; }
.cm-header-5 { font-size: 100%; }
.cm-header-6 { font-size: 90%; }
.cm-strong { font-size: 140%; }

